a.button {
  display:inline-block;
  width:rem-calc(240);
  height:rem-calc(50);
  text-align:center;
  vertical-align:middle;
  border-radius:rem-calc(10);
  color:$white;
  h4 {
    font-size:rem-calc(24);
  }
}

a.yellow-button {
  @extend .button;
  background-color:$yellow;
  &:hover {
    background-color:$turq;
  }
}

a.green-button {
  @extend .button;
  background-color:$turq;
  &:hover {
    background-color:$yellow;
  }
}
